h1 {
    font-size: 28px;
    text-align: center;
    width: 100%;
    margin: 4rem 0rem 1rem 0rem;
    font-style: bold;
}

#Nav_Bar {
    position: fixed;
    border-bottom: 3px solid black;
    width: 100%;
    height: 1rem;
    overflow: hidden;
    background-color: lightblue;
    top: 0;
    left: 0;
    text-align: center;
    padding: 1rem;
}

.Resume_Section {
    border: 3px solid black;
    border-collapse: collapse;
    margin: -3px 1rem;
    padding: 2rem;
}

h2 {
    margin: 1rem;
    font-size: 26px;
    font-weight: bold;
}

h3 {
    margin: 1rem;
    font-size: 24px;
    font-weight: normal;
}

h4 {
    margin: .5rem 1rem;
    font-size: 18px;
    font-weight: normal;
}

h5 {
    margin: .5rem 1rem;
    font-size: 18px;
    font-weight: normal;
}

h6 {
    margin: .5rem 1rem;
    font-size: 18px;
    font-weight: normal;
}

p {
    margin: .5rem 1rem;
    font-size: 14px;
}

a {
    margin: 1rem 1rem;
}
